{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {{ form_start(form) }}

            {{ form_row(form.email) }}

            {{ form_row(form.name) }}

            {{ form_row(form.password) }}

        {{ form_end(form) }}

    </div>
{% endblock %}